# Firebase config (Firebase Console > Project Settings > Your apps > SDK setup)
VITE_FIREBASE_API_KEY=AIzaSyA5wU3qrN5l_m3NMbE3BL3wncxf4IpQDTg
VITE_FIREBASE_AUTH_DOMAIN=jlpt-1220.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jlpt-1220
VITE_FIREBASE_STORAGE_BUCKET=jlpt-1220.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=643147042450
VITE_FIREBASE_APP_ID=1:643147042450:web:6ec9fb7670f48fe3fd204b
